* {
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
    margin-left: 130px;

	@media (max-width: 1467px) {
		padding-left: 0;
		padding-right: 0;
	}

	@media (max-width: 700px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: 420px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.section-list-projects {
    
    margin-left: 100px;
    padding-bottom: 100px;
	.cards-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 60px;

		@media (min-width: 1700px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 991px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.list__group-text {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
		padding-top: 102px;
		padding-bottom: 108px;

		@media (max-width: 991px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.list__title {
		font-size: 48px;

		@media (max-width: 420px) {
			font-size: 30px;
		}
	}

	.list__button {
		width: 350px;
		height: 60px;
		font-size: 24px;
		float: right;

		@media (max-width: 991px) {
			width: 100%;
			margin-top: 40px;
		}
	}

	.card-event {
		border-radius: 10px;
		box-shadow: 0 0 20px 3px #0000002b;
        background: white;
		width: auto;
		margin-right: 20px;

		@media (max-width: 700px) {
			margin-right: 0;
		}

		.card-header {
			display: flex;
			align-items: center;
		}

		.card-row__block:first-child {
			margin-right: 15px;
		}

		.card-title {
			font-size: 20px;
			font-weight: 600;
            margin: 30px;
		}

		.card-main .card-main-group {
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
		}

        .card-main{
            margin: 30px;
        }

		.card-main .card-row__block {
			display: flex;
			align-items: center;
		}

		.card-subtext {
			font-size: 14px;
			font-weight: 600;
		}

		.card-description {
			max-width: 400px;
			margin-top: 20px;
		}
	}

	.card-event:last-child {
		margin-bottom: 0px;
	}

    .card-event:hover {
        z-index: 10;
		transform: translateY(-10px);
        transition: 0.3s;
	}
}

.wrapper {
    /* This part is important for centering the content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* End center */
  }
  
  .wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0b786f;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 0 4px 3px #0000001f;
  }

  .wrapper a:hover {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0d8a7f;
    border-radius: 17px;
    text-transform: uppercase;
    color: #fff;
    transform: translateY(-1px);
  }
  
  .modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    border-radius: 4px;
    position: relative;
    width: 700px;
    max-width: 100%;
    background: #fff;
    padding: 1em 2em;
  }
  
  .modal__footer {
    text-align: right;
    a {
      color: #585858;
    }
    i {
      color: #d02d2c;
    }
  }
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }

  .theme-list{
      width: 100%;
      padding: 15px;
      border-radius: 10px;
  }

  .theme-list:hover{
      background: #0b786f36;
      .theme-hours{
        visibility: visible;
    }
  }

  .theme-hours{
      visibility: hidden;
      float: right;
      color: #0b786f;
  }